:root {
    --primary-text-color: #3A105A;
    --secondary-text-color: #792372;
    --accent-color: #FAE006;
    --main-white: #ffffff;
    --dark-bg-color: #46319D;
    --light-bg-color: #9791D8;
    --card-bg-color: rgba(255, 255, 255, 0.6);
    --transition-duration: 1000ms;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    color: var(--primary-text-color);
    background-color: var(--light-bg-color);
    background-image: url("../images/background/beginning.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
    letter-spacing: 0.03em;
    font-size: larger;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section {
    height: 100vh;
}

/* registration */

.register-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    align-content: center;

    min-height: 500px;
    padding: 20px;
    gap: 10px;
}

.starter-btn {
    padding: 5px;
    border: var(--accent-color);
    border-radius: 5px;
    background-color: var(--accent-color);
    color: var(--secondary-text-color);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    cursor: crosshair;
}

.starter-btn:hover, .starter-btn:focus {
    background-color: var(--light-bg-color);
}


/* game */
.stats {
    display: flex;
    justify-content: space-around;

    list-style: none;

    width: 100%;
    max-width: 600px;
    padding: 20px;
    margin: 0;
    border-radius: 10px;
    background-color: var(--card-bg-color);
}

.enemy-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
    transition: right var(--transition-duration) var(--transition-timing-function);
}

.enemy {
    background-color: transparent;
    border: none;
    cursor: crosshair;
}

.enemy:hover {

    box-shadow: 0px 2px 30px -3px rgba(255, 13, 5, 1);
}

.progress-bar {
    background-color: var(--main-white);
    border-radius: 5px;
    width: 400px;
    height: 15px;
    margin: 10px 0;
}

.progress {
    background-color: var(--accent-color);
    border-radius: 5px;
    height: 100%;
    width: 0;
}

.gun {
    position: absolute;
    right: -10px;
    bottom: -5px;

    width: 400px;
    height: 400px;

    background-color: transparent;
    background-image: url("../images/background/gun.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* congratulation */

.congrats {
    display: flex;
    justify-content: center;
    align-items: center;
}

.congrats-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    max-width: 600px;
    padding: 20px;
    margin: 0;
    border-radius: 10px;
    background-color: var(--card-bg-color);
}

/* notifications */

.notification{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    position: fixed;
    top: 20px;
    right: -1000px;

    max-width: 500px;
    min-height: 100px;
    padding: 15px;
    border-radius: 10px;
    background-color: var(--card-bg-color);
    border: 1px solid var(--dark-bg-color);
    transition: right var(--transition-duration)  var(--transition-timing-function);
}

.notification.show {
    right: 20px;
}
