:root {
    --primary-text-color: #3A105A;
    --secondary-text-color: #792372;
    --accent-color: #FAE006;
    --main-white: #ffffff;
    --dark-bg-color: #46319D;
    --light-bg-color: #9791D8;
    --transition-duration: 250ms;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    color: var(--primary-text-color);
    background-color: var(--light-bg-color);
    background-image: url("../images/background/beginning.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
    letter-spacing: 0.03em;
    font-size: larger;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section {
    height: 100vh;
}

/* registration */

.register-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    align-content: center;

    min-height: 500px;
    padding: 20px;
    gap: 10px;
}


/* game */
.stats {
    display: flex;
    justify-content: space-around;
    /* box-sizing: border-box; */

    list-style: none;

    width: 100%;
    max-width: 600px;
    padding: 20px;
    margin: 0;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.6);
}

.enemy-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.enemy {
    background-color: transparent;
    border: none;
    cursor: crosshair;
}

.progress-bar {
    background-color: var(--main-white);
    border-radius: 5px;
    width: 400px;
    height: 15px;
    margin: 10px 0;
}

.progress {
    background-color: var(--accent-color);
    border-radius: 5px;
    height: 100%;
    width: 0;
}

.gun {
    position: absolute;
    right: -10px;
    bottom: -5px;

    width: 400px;
    height: 400px;

    background-color: transparent;
    background-image: url("../images/background/gun.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

